<div class="row" >
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Github Username" [(ngModel)]="username" name="username" (keyup)="search()">    
            </div>    
        </form>    
    </div>    
  </div>
  
  
  <h6 *ngIf="users">Total Count: {{users.total_count}}</h6>
  <div *ngFor="let users of userDetail| paginate: { itemsPerPage: 5, currentPage: p }; let i = index" id="panelClass">
      
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{users.login}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail github-avatar" src="{{users.avatar_url}}">
                </div>
                <div class="col-md-8">
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item">{{users.login}}</li> 
                         <li class="list-group-item"><strong>UserId: </strong>{{users.id}}</li>
                          <li class="list-group-item"><strong>Email: </strong>{{users.url}}</li>
                           <li class="list-group-item"><strong>Events Url: </strong>{{users.events_url}}</li> 
                            <!-- <li class="list-group-item"><strong>Member Since: </strong>{{users.created_at}}</li>   -->
                    </ul>
                    <button class="btn btn-outline-primary btn-lg" *ngIf="showDet" (click)="showDetails(i)">Details</button>
                    <button class="btn btn-outline-primary btn-lg" *ngIf="hideDet" (click)="hideDetails(i)">Collapse</button>
                  </div>    
            </div>
        </div>
    </div>
    
    <div class="panel panel-default"*ngIf="togglePanel[i]">
        <div class="panel-heading">
            <h3 class="panel-title">Repos</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div *ngFor="let repo of repos">
                        <div class="row">
                            <div class="col-md-9">
                                <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>    
                                <p>{{repo.description}}</p>
                            </div>
                            <div class="col-md-3">
                                <span class="label label-default">{{repo.watchers}} Watchers</span>
                                <span class="label label-primary">{{repo.forks}} Forks</span>
                            </div>    
                        </div> 
                        <hr />  
                    </div>    
                </div>    
            </div>
        </div>
   </div>
  </div>
  
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  